* {
    margin: 0;
    padding: 0;
    outline: 0 !important;
    font-family: Avenir Next Cyr;
    -webkit-font-smoothing: antialiased;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    display: none;
}
.reset-transitions *, 
.reset-transitions *::before,
.reset-transitions *::after {
    transition: none !important;
}
html * {
    user-select: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
p,
a {
    text-decoration: none !important;
    color          : #fff;
}
.dev::after {
	content    : 'dev';
	position   : absolute;
	display    : inline-block;
	bottom     : 1.2vh;
	margin-left: 0.5vh;
	font-size  : 1.5vh;
	color      : #FFA16C;
}
.f-bold{
    font-weight: 750;
}
.f-demi{
    font-weight: 700;
}
.f-medium{
    font-weight: 600;
}
.f-regular{
    font-weight: 400;
}
.f-light{
    font-weight: 300;
}
@font-face {
    font-family: Avenir Next Cyr;
    src: url("../fonts/AvenirNextCyr-Bold.ttf");
    font-weight: 750;
    font-style: normal;
}
@font-face {
    font-family: Avenir Next Cyr;
    src: url("../fonts/AvenirNextCyr-Demi.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Avenir Next Cyr;
    src: url("../fonts/AvenirNextCyr-Medium.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Avenir Next Cyr;
    src: url("../fonts/AvenirNextCyr-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Avenir Next Cyr;
    src: url("../fonts/AvenirNextCyr-Light.ttf");
    font-weight: 300;
    font-style: normal;
}