@media screen and (max-width: 1200px) {
	div.info-list {
        flex-wrap: wrap;
	}
	ul.info-list {
        flex-basis: 33%;
        flex      : 1 25vw;
    }
}
@media only screen and (max-width: 800px) {
    .app-version {
        margin-bottom: 2vh;
    }
    .app-name {
        margin-top: 4vh;
    }
    .app-image {
        height: 60vh;
    }
}
@media only screen and (max-width: 700px) {
    .app-image {
        height: 50vh;
    }
}
@media only screen and (max-width: 600px) {
    .neon {
        transition: none !important;
    }
    .app-container {
        height: calc(var(--vh, 1vh) * 100);
        transition: none;
    }
    .app-container[data-blur='1'] {
        transform : none !important;
        opacity: 0.1;
    }
    .app-container::before {
        transition: 0s 0s;
    }
    .app-container[data-blur="1"] + .social-container {
        height: fit-content;
    }
    .social-container .social-block {
        flex-direction: row;
        margin        : 0;
    }
    .social-container {
        height         : fit-content;
        justify-content: center;
        width          : 100vw;
        bottom         : 20vh;
    }
    .social-container img {
        height: 3.5vh;
        width : 3.5vh;
        margin: 3vh;
    }
    ul.info-list {
        flex-basis: 33%;
        flex      : 1 30vw;
    }
    .app-name {
        margin-top: 10vh;
    }
    .app-version {
        font-size: 2.5vh;
        margin: 1.5vh 0 7.5vh 0;
    }
    .app-image {
        height: 35vh;
        margin: 0 0 35vh 0;
    }
    .info-buttons {
        top: -13vh;
    }
    .info-container .info-arrow {
        top: -1vh;
    }
}
@media only screen and (max-width: 420px) {
    .app-image {
        height: 30vh;
        margin: 0 0 30vh 0;
    }
    .social-container {
        bottom: 24vh  !important;
    }
}